@page
@model los.Pages.AdminBooksModel

<style>
  table, td, th {
    border: 1px solid black;
    padding: 4px;
  }

  label {
    padding: 4px;
  }

  input {
    padding: 2px;
  }

  .crud-form {
    border: 1px solid black;
    padding: 10px;
  }
</style>

<div class="crud-form">
  <p>Add new book</p>
  <form method="post">
    <input type="hidden" asp-for="ActionType" value="insert">
    <label>Title:<input type="text" asp-for="InputTitle"></label>
    <label>Year:<input type="number" asp-for="InputYear"></label>
    <label>Genre:
      <select asp-for="InputGenreID">
        @foreach (var genre in @Model.GetAllGenres()) {
        <option value="@genre.ID">@genre.Title</option>
        }
      </select>
    </label>
    <label>Author:
      <select asp-for="InputAuthorID">
        @foreach (var author in @Model.GetAllAuthors()) {
        <option value="@author.ID">@author.Fullname</option>
        }
      </select>
    </label>
    <input type="submit" value="add">
  </form>
</div>

<h2>All books</h2>
<table>
  <tr>
    <th>#</th>
    <th>Title</th>
    <th colspan="2">Action</th>
  </tr>
  @foreach (var book in @Model.GetAllBooks()) {
  <tr>
    <td>@book.ID</td>
    <td>@book.Title</td>
    <td><a href="/AdminEditBook?id=@book.ID">edit</a></td>
    <td>
      <form method="post">
        <input type="hidden" asp-for="ActionType" value="remove">
        <input type="hidden" asp-for="InputID" value="@book.ID">
        <input type="submit" value="remove">
      </form>
    </td>
  </tr>
  }
</table>