@page
@model los.Pages.AdminOrdersModel

<style>
  table, td, th {
    border: 1px solid black;
    padding: 4px;
  }

  label {
    padding: 4px;
  }

  input {
    padding: 2px;
  }

  .crud-form {
    border: 1px solid black;
    padding: 10px;
  }
</style>

<div class="crud-form">
  <p>Add new order</p>
  @if (!string.IsNullOrEmpty(@Model.ErrMsg)) {
    <p>Error: @Model.ErrMsg</p>
  }
  <form method="post">
    <input type="hidden" asp-for="ActionType" value="insert">
    <label>User:
      <select asp-for="InputUserID">
        @foreach (var user in @Model.GetAllUsers()) {
        <option value="@user.ID">@user.ID - @user.Name</option>
        }
      </select>
    </label>
    <label>Book:
      <select asp-for="InputBookID">
        @foreach (var book in @Model.GetAllBooks()) {
          string bookLabel = $"{book.ID}. {book.Title}, {book.Author.Fullname}";
          if (book.Genre != null) {
            bookLabel += $" ({book.Genre.Title})";
          }
          <option value="@book.ID">@bookLabel</option>
        }
      </select>
    </label>
    <label>Ordering date:<input type="text" asp-for="InputOrderedOn"></label>
    <label>Arriving date:<input type="text" asp-for="InputArrivesOn"></label>
    <input type="submit" value="add">
  </form>
</div>

<h2>All orders</h2>
<table>
  <tr>
    <th>#</th>
    <th>User</th>
    <th>Book</th>
    <th>Secret code</th>
    <th>Ordered on</th>
    <th>Arrives on</th>
    <th colspan="2">Action</th>
  </tr>
  @foreach (var order in @Model.GetAllOrders()) {
    string userLabel = $"{order.ID}. {order.User}";

    var book = order.Book;
    string bookLabel = $"{book.ID}. {book.Title}, {book.Author.Fullname}";
    if (book.Genre != null) {
      bookLabel += $" ({book.Genre.Title})";
    }
  <tr>
    <td>@order.ID</td>
    <td>@userLabel</td>
    <td>@bookLabel</td>
    <td>@order.SecretCode</td>
    <td>@order.OrderedOn.ToString(@Model.DateFormat)</td>
    <td>@order.ArrivesOn.ToString(@Model.DateFormat)</td>
    <td><a href="/AdminEditOrder?id=@order.ID">edit</a></td>
    <td>
      <form method="post">
        <input type="hidden" asp-for="ActionType" value="remove">
        <input type="hidden" asp-for="InputID" value="@order.ID">
        <input type="submit" value="remove">
      </form>
    </td>
  </tr>
  }
</table>