@page
@model los.Pages.UserEditOrderModel

<div class="crud-form">
  <h2>Edit order #@Model.InputID</h2>
  <form method="post">
    <input type="hidden" asp-for="InputID">
    <label>Book:
      <select asp-for="InputBookID">
        @foreach (var book in @Model.GetAllBooks()) {
          bool isSelected = @Model.InputBookID != null && @Model.InputBookID == book.ID;
          <!option value="@book.ID" @(isSelected ? "selected" : "")>@book.Title</!option>
        }
      </select>
    </label>
    <label>Arriving date:<input type="text" asp-for="InputArrivesOn" value="@Model.InputArrivesOn"></label>
    <input type="submit" value="save">
  </form>
</div>