@page
@model los.Pages.UserOrdersModel

<style>
  table, td, th {
    border: 1px solid black;
    padding: 4px;
  }

  label {
    padding: 4px;
  }

  input {
    padding: 2px;
  }

  .crud-form {
    border: 1px solid black;
    padding: 10px;
  }
</style>

<div class="crud-form">
  <p>Order a book</p>
  @if (!string.IsNullOrEmpty(@Model.ErrMsg)) {
    <p>Error: @Model.ErrMsg</p>
  }
  <form method="post">
    <input type="hidden" asp-for="ActionType" value="insert">
    <input type="hidden" asp-for="InputUserID" value="@Model.InputUserID">
    <label>Book:
      <select asp-for="InputBookID">
        @foreach (var book in @Model.GetAllBooks()) {
          string bookLabel = $"{book.Title}, {book.Author.Fullname}";
          if (book.Genre != null) {
            bookLabel += $" ({book.Genre.Title})";
          }
          <option value="@book.ID">@bookLabel</option>
        }
      </select>
    </label>
    <label>Arriving date:<input type="text" asp-for="InputArrivesOn"></label>
    <input type="submit" value="add">
  </form>
</div>

<h2>My orders</h2>
<table>
  <tr>
    <th>#</th>
    <th>Book</th>
    <th>Ordered On</th>
    <th>Arrives On</th>
    <th colspan="2">Action</th>
  </tr>
  @foreach (var order in @Model.GetMyOrders()) {
  <tr>
    <td>@order.ID</td>
    <td>@order.Book.Title</td>
    <td>@order.OrderedOn.ToString("dd.MM.yy")</td>
    <td>@order.ArrivesOn.ToString("dd.MM.yy")</td>
    <form method="post">
      <input type="hidden" asp-for="ActionType" value="cancel">
      <input type="hidden" asp-for="InputOrderID" value="@order.ID">
      <td><input type="text" asp-for="InputSecretCode"></td>
      <td><input type="submit" value="cancel"></td>
    </form>
  </tr>
  }
</table>